*
{
    margin:0%;
    padding:0%;
    box-sizing: border-box;
}

html,body
{
    height: 100%;
    width: 100%;
}
 body
 {
    background-color: yellow;
 }

 h2
{
   font-size: 24px;
   margin: 16px ;
}
hr
{
    margin: 8px 0;
}

.parent
{
    font-size: 16px;
    height: 100px;
    width: 100px;
    background-color: orange;
    padding: 16px;
}
.child
{
    font-size: 16px;
    background-color: lightgreen;
    /* margin: 16px; */
    padding: 16px;
    height: 100px;
    width: 100px;
    box-sizing: content-box;

}
.container
{
    margin-top: 100px;
    background-color: aqua;
    height: 160px;
    padding: 30px 13px;
}
.container h3
{
    margin-bottom: 20px;
}
.childbox-1
{
    height: 40px;
    width: 800px;
    background-color: red;
}

.container-2
{
    margin-top: 100px;
    background-color: aqua;
    height: 160px;
    padding: 30px 13px;
}
.container-2 h3
{
    margin-bottom: 20px;
}
.childbox-2
{
    height: 40px;
    width: 70%;
    background-color: red;
}
